@font-face {
    font-family: SourceSansPro-Bold;
    src: url(SourceSansPro-Bold.otf);
}

@font-face {
    font-family: SourceSansPro-Semibold;
    src: url(SourceSansPro-Semibold.otf);
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url(SourceSansPro-Regular.otf);
}

@font-face {
    font-family: SourceSansPro-Light ;
    src: url(SourceSansPro-Light.otf);
}

@font-face {
    font-family: SourceSansPro-LightIt;
    src: url(SourceSansPro-LightIt.otf);
}

body {
    font-family: SourceSansPro-Light;
    font-size: 1rem;
    color: #fff;
    background-color: #F2F2F2;

}

.special {
    font-family: SourceSansPro-Light;
    font-size: 3.75rem;
    font-weight: 300;
    color: #071629;
}

.hero-bg {
    width: 100%;
    background-image: url(../html_advanced/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 2rem 10rem 2rem;
}

nav {

    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    font-family: SourceSansPro-Bold;
    font-size: 0.75rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.first {
    margin: 16rem auto 4rem auto;
   width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    /* justify-content: center;
    align-items: center; */
}
.first div {
  

    margin: 0 auto;
}

h1 {
    font-family: SourceSansPro-Bold;
    font-size: 7.5rem;
    font-weight: bold;
}

h2 {
    font-family: SourceSansPro-Bold;
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-family: SourceSansPro-Bold;
    font-size: 1rem;
    font-weight: bold;
}


h4 {
    font-family: SourceSansPro-Bold;
    font-size: .9rem;
    font-weight: bold;
}

h5 {
    font-family: SourceSansPro-Bold;
    font-size: .8rem;
    font-weight: bold;
    color: #C271FF;
}


.laughs {
    font-family: SourceSansPro-Bold;
    font-size: 1rem;
    font-weight: bold;
    width: 40%;
    display: flex;
    justify-content: space-between;
    
  
}

button {
    margin: 2rem auto 5rem auto;
    color: black;
    font-size: 0.75rem;
    text-transform: uppercase;
    background-color: #C271FF;
    border-radius : 1em;
    padding: .5em 2em;
    font-family: SourceSansPro-Semibold;
    font-weight: 600;
    
}

em {
    font-family: SourceSansPro-Bold;
    font-size: 2rem;
    color: #C271FF;
    font-weight: bold;
}

i {
    font-family: SourceSansPro-LightIt;
    font-weight: 300;
    font-size: 1.375rem;
    font-style: italic;
}
.pro {
 display: flex;
 flex-direction: column;
 gap: 10rem;
}

.the-pros {

    display: flex;
    justify-content: center;
    gap: 9em;
}

.the-pros img {
    border-radius: 50%;
}

.second {
    width: 100%;
    background-color: #C271FF;
}

.second > div {
    width: 100%;
    padding: 5rem 3rem 5rem 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.one {

    width: 50%;
    text-align: start;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.tutorials {
   
    background-color: #F2F2F2;
    width: 100%;
    text-align: center;
    color: black;
    padding: 5em;
   
}

.clip-container {
    margin-top: 5rem;
    display: flex;
}

.clip-container > div {
 
    width: 20%;
    /* text-align: center; */
    margin: 0 auto;
}

.clip {
    padding: 2rem 0 2rem 0;
    margin: 0 auto;
    width: 100%;
    background-image: url(../html_advanced/images/preview.png);
}

.clip-2 {
    padding: 2rem 0 2rem 0;
    margin: 0 auto;
    width: 100%;
    background-image: url(../html_advanced/images/preview2.png);
}

.clip-3 {
    padding: 2rem 0 2rem 0;
    margin: 0 auto;
    width: 100%;
    background-image: url(../html_advanced/images/preview\ 3.png);
}

.clip-4 {
    padding: 2rem 0 2rem 0;
    margin: 0 auto;
    width: 100%;
    background-image: url(../html_advanced/images/preview\ 4.png);
}

.inner {
    display: block;
   
    width: 90%;
    /* padding: 1em 0 1em 0; */
    margin: 0  auto;
    text-align: left;
   
}

.inner h4, .inner p, .inner > div {
    margin-top: .75em;
}

.inner p {
    font-family: SourceSansPro-Regular;
    font-size: .875rem;
    font-weight: 400;
}

.philip {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}

.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star {
    display: flex;
    align-items: center;
}

.free-membership {
    border: 1px solid #070707;

    width: 100%;
    display: block;
    /* margin: 0 auto; */
    text-align: center;
    background-color: #071629;
}

.free-membership h2 {
    margin: 1em auto 0 auto;
    /* border: 1px solid red; */
}

.free-membership > div {
    /* border: 1px solid red; */
    width: 80%;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */


}

.free-membership > div div {
    /* border: 1px solid yellow; */
   
    width: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* justify-content: center; */
    /* align-items: center; */


}

.free-membership > div div p {
    text-align: center;
    font-size: 0.875rem;
}

.free-membership > div div img {
    margin: 0 auto;
    width: 20%;
}

.faq {
    width: 100%;
    display: block;
    /* margin: 0 auto; */
    text-align: center;
    background-color: #F2F2F2;
    color: #071629;
    /* padding: 5em auto 5em auto; */
}

.faq > div {
    margin: 3rem auto;
    /* font-family: SourceSansPro-Light;
    font-size: 3.75rem;
    font-weight: 300; */
}

.faq-1 {
 
    width: 80%;
    margin: 5rem auto 5rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
}

.faq-2 {
    text-align: left;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5em;
}

.faq-3 {
    text-align: left;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5em;
}

.faq h4 {
    display: block;
    margin-bottom: 2rem;
}
footer {
    width: 100%;
    background-color: #071629;
    display: block;
    margin: 0 auto;
    text-align: center;
}

footer > div {
    width: 80%;
    margin: 0 auto;
    padding: 3em;

}
.footer {
    display: flex;
    justify-content: space-between;
}